img{
  height: 250px;
  width: 250px;
}
body{
  background-color: #2d3436;
}
.center_div{
  width: 100%;
  height: 80vh;
  display: grid;
  place-items:center;
}
.btn_1{
  padding: 10px 25px;
  color: #fff;
  background-color: green;
  font-size: 20px;
  outline: none;
  box-shadow:  2px 2px 3px 3px rgba(0, 0, 0, 0.4);
}
.btn_2{
  padding: 10px 15px;
  color: #000;
  background-color: red;
  font-size: 20px;
  margin-left: 15px;
    outline: none;
  box-shadow:  2px 2px 3px 3px rgba(0, 0, 0, 0.4);
}
